@rendermode InteractiveServer
@inject ApplicationDbContext dbContext
@inject NavigationManager NavigationManager

<div class="rz-p-12 rz-text-align-center">
  <RadzenColumn Size="12">
    <RadzenFormField Text="Enter study contents here" Variant="@variant">
      <RadzenTextArea @bind-Value="@value" />
    </RadzenFormField>
  </RadzenColumn>
</div>


@code {
  Variant variant = Variant.Outlined;
  string value = "";

  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();
  }
}