<footer class="border-top footer text-muted py-3 mt-4">
    <div class="container text-center">
        &copy; @DateTime.Now.Year - QuizWiz - Greg Song, Tracy Ly, Linh Nguyen and Anh Nguyen
    </div>
</footer>
