<footer class="bg-black text-center py-5">
    <div class="container px-5">
        <div class="text-white-50 small">
            &copy; @DateTime.Now.Year - QuizWiz - Greg Song, Tracy Ly, Linh Nguyen and Anh Nguyen
        </div>
    </div>
</footer>
