<li class="nav-item">
    <NavLink class="nav-link text-dark" href="Home">Home</NavLink>
</li>
<li class="nav-item">
    <NavLink class="nav-link text-dark" href="Card">Card</NavLink>
</li>
<li class="nav-item">
    <NavLink class="nav-link text-dark" href="CardSet">CardSet</NavLink>
</li>
<li class="nav-item">
    <NavLink class="nav-link text-dark" href="Home/About">About Us</NavLink>
</li>
