<li class="nav-item">
    <NavLink class="nav-link text-dark" href="Home">Home</NavLink>
</li>
<li class="nav-item">
    <NavLink class="nav-link text-dark" href="Home/Privacy">Privacy</NavLink>
</li>
<li class="nav-item">
    <NavLink class="nav-link text-dark" href="Home/About">About</NavLink>
</li>