@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<li class="nav-item">
    <NavLink class="nav-link text-dark" href="Home">Home</NavLink>
</li>

@code {
    private bool isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity!.IsAuthenticated;
    }
}

@if (isAuthenticated)
{
    <li class="nav-item">
        <NavLink class="nav-link text-dark" href="CardSet">CardSet</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link text-dark" href="Home/Test">Test</NavLink>
    </li>
}
<li class="nav-item">
    <NavLink class="nav-link text-dark" href="Home/About">About Us</NavLink>
</li>
