@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div style="margin-left: 20px;">
    <p>
        Introducing you to <strong>QUIZWIZ</strong>, your ultimate study companion, crafted with care by the innovative
        minds of:
    </p>
    <ul>
        <li>Greg Song - Full Stack Web Developer</li>
        <li>Tracy Ly - Full Stack Web Developer</li>
        <li>Linh Nguyen - Full Stack Web Developer</li>
        <li>Anh Nguyen - Full Stack Web Developer</li>
    </ul>

    <p>
        We are four passionate students from the Information System Option (term 4).
    </p>

    <p>
        <strong>QuizWiz</strong> is a web application designed to revolutionize the way you study, whether you're
        gearing up for a test,
        exam, or quiz. Gone are the days of tedious manual flashcard creation - <strong>QuizWiz</strong> harnesses the
        cutting-edge power of
        AI to streamline your study process.
    </p>

    <p>
        With <strong>QuizWiz</strong>, studying becomes effortless. Simply upload your study materials, and watch as our
        AI engine transforms
        them into dynamic flashcards in a matter of seconds. Say goodbye to hours spent tediously creating flashcards by
        hand - <strong>QuizWiz</strong> does the heavy lifting for you, leaving you more time to focus on mastering your
        subject matter.
    </p>

    <p>
        Our vision for <strong>QuizWiz</strong> extends beyond just flashcards - we're committed to continuously
        enhancing the platform to
        offer a comprehensive suite of study tools to meet all your educational needs. Whether you're studying alone or
        collaborating with classmates, <strong>QuizWiz</strong> empowers you to study smarter, not harder.
    </p>

    <p>
        Join us on the journey to academic excellence with <strong>QuizWiz</strong> - where studying is simplified,
        efficient, and effective.
        Please feel free to reach out to us with any questions, comments, or feedback - we'd love to hear from you. We
        can't
        wait to see you succeed!
    </p>
</div>
