@{
    ViewData["Title"] = "About Us";
}

<header class="masthead text-light bg-gradient-primary-to-secondary">
    <div class="container px-5 py-4 text-center">
        <div>
            <h1 class="display-5 fw-bolder mb-0">@ViewData["Title"]</h1>
        </div>
    </div>
</header>

<section>
    <div class="container px-5">
        <div class="my-5">
            <p class="lead fw-normal text-muted">
                Introducing you to <strong>QUIZWIZ</strong>, your ultimate study companion,
                crafted with care by the innovative minds of:
            </p>
        </div>

        <div class="row gx-5 align-items-center">
            <div class="col-lg-12 mb-5 mb-lg-0">
                <div class="container-fluid px-5">
                    <div class="row gx-5">
                        <div class="col-md-3 mb-5">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-person-square icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Greg Song</h3>
                                <p class="text-muted mb-0">Full Stack Web Developer</p>
                            </div>
                        </div>
                        <div class="col-md-3 mb-5">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-person-square icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Tracy Ly</h3>
                                <p class="text-muted mb-0">Full Stack Web Developer</p>
                            </div>
                        </div>
                        <div class="col-md-3 mb-5 mb-md-0">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-person-square icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Linh Nguyen</h3>
                                <p class="text-muted mb-0">Full Stack Web Developer</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-person-square icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Anh Nguyen</h3>
                                <p class="text-muted mb-0">Full Stack Web Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="border-top py-5 mb-5">
            <p>
                We are four passionate students from the Information System Option (term 4).
            </p>

            <p>
                <strong>QuizWiz</strong> is a web application designed to revolutionize the way you study, whether
                you're gearing up for a test, exam, or quiz. Gone are the days of tedious manual flashcard creation
                - <strong>QuizWiz</strong> harnesses the cutting-edge power of AI to streamline your study process.
            </p>

            <p>
                With <strong>QuizWiz</strong>, studying becomes effortless. Simply upload your study materials, and
                watch as our AI engine transforms them into dynamic flashcards in a matter of seconds. Say goodbye
                to hours spent tediously creating flashcards by hand - <strong>QuizWiz</strong> does the heavy
                lifting
                for you, leaving you more time to focus on mastering your subject matter.
            </p>

            <p>
                Our vision for <strong>QuizWiz</strong> extends beyond just flashcards - we're committed to
                continuously
                enhancing the platform to offer a comprehensive suite of study tools to meet all your educational
                needs. Whether you're studying
                alone or collaborating with classmates, <strong>QuizWiz</strong> empowers you to study smarter, not
                harder.
            </p>

            <p>
                Join us on the journey to academic excellence with <strong>QuizWiz</strong> - where studying is
                simplified, efficient, and effective.
                Please feel free to reach out to us with any questions, comments, or feedback - we'd love to hear
                from
                you. We can't wait to see you succeed!
            </p>
        </div>

    </div>
</section>