@{
    ViewData["Title"] = "Home Page";
    ViewData["MAX_LENGTH"] = 1000;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form method="post">
        <textarea id="userContent" placeholder="Enter study contents here" name="userContent" cols="150" rows="10"
            oninput="updateCharacterCount()" maxlength="@ViewData["MAX_LENGTH"]"></textarea>

        <div class="d-flex justify-content-between">
            <div>
                <input type="submit" value="Generate" />
                <input type="button" value="Clear" />
            </div>
            <div id="characterCount">0/@ViewData["MAX_LENGTH"] characters</div>

        </div>

    </form>
</div>



<script>
    let content = document.getElementById('userContent');
    const MAX_LENGTH = @ViewData["MAX_LENGTH"];

    // Update the number of characters in the textarea
    function updateCharacterCount() {
        var text_length = content.value.length;
        document.getElementById('characterCount').innerText = text_length + '/' + @ViewData["MAX_LENGTH"] + 'characters';
    }

    // Clear the textarea
    document.querySelector('input[type="button"]').addEventListener('click', function () {
        content.value = '';
        updateCharacterCount();
    });

</script>
