@{
    ViewData["Title"] = "Home Page";
}

<div class="px-4 py-5 mt-3 mb-2 text-center">
    <h1 class="display-3">Your Favourite Study Tool</h1>
    <div class="col-lg-8 pt-3 mx-auto blockquote">
        <p>Ace your next quiz with <mark>QuizWiz</mark>, our AI-powered flashcard generator.</p>
        <p>Enter your text below and press <mark class="success">Generate</mark>, then wait for the set of questions to appear and you’re good to go!</p>
        <p>Be a <mark>quiz wiz</mark> and create an account to save your card sets.</p>
    </div>
</div>


<form method="post">
    <component type="typeof(ProjectStudyTool.Components.Home.PromptForm)" render-mode="ServerPrerendered" />
    <div class="d-flex gap-3 col-2 mx-auto my-3 py-4">
        <input type="submit" value="Generate" class="btn btn-success btn-lg" />
        <input type="button" value="Clear" class="btn btn-outline-secondary btn-lg " />
    </div>
</form>



<script>
    let content = document.getElementById('userContent');
    // Clear the textarea
    document.querySelector('input[type="button"]').addEventListener('click', function () {
        content.value = '';
        updateCharacterCount();
    });
</script>
